.content {
	box-sizing: border-box;
	color: #222;
	margin: 0;
	padding: 25px;
	text-align: left;
	float: right;
	width: 77%;
}

.content h1 {
	font-size: 2em;
}

.content ul {
	line-height: 1.4em;
}

li .stars {
	float: right;
}

.profile p {
	font-size: 1.1em;
	margin-bottom: 10px;
}
