.content {
	box-sizing: border-box;
	color: #222;
	margin: 0;
	padding: 25px;
	text-align: left;
	position: absolute;
	top: 0;
	left: 18em;
}

.content h1 {
	font-size: 2em;
}

.content ul {
	line-height: 1.4em;
}

li .stars {
	float: right;
}

.profile p {
	font-size: 1.1em;
	margin-bottom: 10px;
}

.projects {
	display: block;
}

.projects .section {
	min-height: 20em;
	margin-top: 2em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.video-wrapper {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 30%;
	min-width: 200px;
	max-width: 400px;
}

.video-description-wrapper {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 70%;
	max-width: 75em;
	vertical-align: top;
}

.video-description {
	margin: 1em;
	font-size: 1.15em;
	text-align: left;
	vertical-align: top;
	max-width: 100%;
}

.table-padding {
	display: table-cell;
	min-width: 99%;
}

video {
	object-fit: cover;
	height: auto;
	max-width: 100%;
}
