html {
	height: 100%;
}

body {
	background-color: #efefef;
	margin: 0;
	min-width: 100%;
	height: 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1em;

}

.fullscreen {
	width: 100%;
	height: 100%;
}

.sidebar {
	position: fixed;
	box-sizing: border-box;
	z-index: 1;
	background-color: #444;
	color: #eee;
	margin: 0;
	top: 0;
	left: 0;
	overflow-x: hidden;
	width: 25em;
	height: 100%;
	float: left;
}

a {
	color: blue;
	text-decoration: none;
}

.sidebar h1 {
	padding: 25px;
}

.sidebar-link {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.7;
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #eee;
}

.sidebar-link:hover {
	background-color: black;
	opacity: 0.1;
}

.sidebar-link.active {
	background-color: black;
	opacity: 0.3;
}
